<div id="wrapper" style="min-height: 660px; padding-bottom: 20px;">
    <div class="row ">
        <div class="col-lg-12 ">
            <h1 class="page-header" ng-show="placekey === null">Add a place</h1>
            <h1 class="page-header" ng-show="placekey !== null">Edit place ({{placekey}})</h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-12 ">
            <div class="panel-body ">
                <div class="row ">
                    <form role="form ">
                        <div class="col-lg-12 ">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " style="background-color: transparent; padding-left: 0px; ">
                                <label>Select City<span style="color: #E74645; ">*</span></label>
                                <select class="form-control" ng-change="onChangedCity()" ng-model="currentCity " ng-options="city as 
                                (
                                    city.val().name_en + '-' + 
                                    city.val().name_fr + '-' + 
                                    city.val().name_it + '-' + 
                                    city.val().name_nl + '-' + 
                                    city.val().name_ru + '-' + 
                                    city.val().name_ar + '-' + 
                                    city.val().name_swiss_fr + '-' + 
                                    city.val().name_swiss_it + '-' + 
                                    city.val().name_swiss_nl 
                                    )
                                for city in cities track by city.key " ng-disabled="isEditing() "></select>
                                <!-- <select selectpicker data-style="btn-primary " ng-model="citykey " ng-change="onChangedCity() " ng-disabled="{placekey !==n ull && placekey !==u ndefined} ">
                                    <option ng-repeat="city in cities " value="{{city.key}} ">{{city.val().name}}</option>
                                </select> -->
                                <p class="help-block ">Single Selects</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " style="background-color: transparent; padding-left: 0px; ">
                                <label>Categories<span style="color: #E74645; ">*</span></label>
                                <select selectpicker multiple data-style="btn-primary " ng-model="selectedCategoriesKey " ng-change="onChangedCategory() " required>
                                    <option ng-repeat="category in cityCategories " value="{{category.key}} ">
                                        <!-- {{category.val().name}} -->
                                        {{category.val().name_en}}-
                                        {{category.val().name_fr}}-
                                        {{category.val().name_it}}-
                                        {{category.val().name_nl}}-
                                        {{category.val().name_ru}}-
                                        {{category.val().name_ar}}-
                                        {{category.val().name_swiss_fr}}-
                                        {{category.val().name_swiss_it}}-
                                        {{category.val().name_swiss_nl}}
                                    </option>
                                </select>
                                <p class="help-block ">Multiple Selects</p>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " style="background-color: transparent; padding-left: 0px; ">
                                <label>Sub Categories<span style="color: #E74645; ">*</span></label>
                                <select selectpicker multiple data-style="btn-primary " ng-model="selectedSubCategoriesKey " ng-change="onChangedSubCategory() " required>
                                    <optgroup ng-repeat="category in selectedCategories " label="{{category.val().name_en}} ">
                                        <option ng-repeat="sub in dictSubcategories[category.key] " value="{{sub.key}} ">
                                            <!-- {{sub.name}} -->
                                            {{sub.name_en}}-
                                            {{sub.name_fr}}-
                                            {{sub.name_it}}-
                                            {{sub.name_nl}}-
                                            {{sub.name_ru}}-
                                            {{sub.name_ar}}-
                                            {{sub.name_swiss_fr}}-
                                            {{sub.name_swiss_it}}-
                                            {{sub.name_swiss_nl}}
                                        </option>
                                    </optgroup> 
                                </select>
                                <p class="help-block ">Multiple Selects</p>
                            </div>
                            <div style="clear: both; "></div>
                        </div>
                        <div class="col-lg-12">
                            <label>Is Banner</label>
                            <input type="checkbox" ng-model="isBanner" />
                            <br/>
                        </div>
                        <div class="col-lg-6 ">
                            <div class="form-group ">
                                <p>
                                    <label>Name En</label>
                                    <span style="color: #E74645; ">*</span>
                                </p>
                                <input class="form-control " required ng-model="name_en" autofocus>
                                <p class="help-block ">Ex: Hoa Hong Hotel</p>
                            </div>

                            <div class="form-group ">
                                <p>
                                    <label>Name Fr</label>

                                </p>
                                <input class="form-control " required ng-model="name_fr" autofocus>
                                <p class="help-block ">Ex: Hoa Hong Hotel</p>
                            </div>

                            <div class="form-group ">
                                <p>
                                    <label>Name IT</label>

                                </p>
                                <input class="form-control " required ng-model="name_it" autofocus>
                                <p class="help-block ">Ex: Hoa Hong Hotel</p>
                            </div>

                            <div class="form-group ">
                                <p>
                                    <label>Name NL</label>

                                </p>
                                <input class="form-control " required ng-model="name_nl" autofocus>
                                <p class="help-block ">Ex: Hoa Hong Hotel</p>
                            </div>

                            <div class="form-group ">
                                <p>
                                    <label>Name RU</label>

                                </p>
                                <input class="form-control " required ng-model="name_ru" autofocus>
                                <p class="help-block ">Ex: Hoa Hong Hotel</p>
                            </div>

                            <div class="form-group ">
                                <p>
                                    <label>Name AR</label>

                                </p>
                                <input class="form-control " required ng-model="name_ar" autofocus>
                                <p class="help-block ">Ex: Hoa Hong Hotel</p>
                            </div>

                            <div class="form-group ">
                                <p>
                                    <label>Name Fr Swiss</label>

                                </p>
                                <input class="form-control " required ng-model="name_swiss_fr" autofocus>
                                <p class="help-block ">Ex: Hoa Hong Hotel</p>
                            </div>

                            <div class="form-group ">
                                <p>
                                    <label>Name IT Swiss</label>

                                </p>
                                <input class="form-control " required ng-model="name_swiss_it" autofocus>
                                <p class="help-block ">Ex: Hoa Hong Hotel</p>
                            </div>

                            <div class="form-group ">
                                <p>
                                    <label>Name NL Swiss</label>

                                </p>
                                <input class="form-control " required ng-model="name_swiss_nl" autofocus>
                                <p class="help-block ">Ex: Hoa Hong Hotel</p>
                            </div>
                            
                            <table width="100% ">
                                <tr>
                                    <td>
                                        <div class="form-group ">
                                            <label>Logititude</label>
                                            <input class="form-control " ng-model="longitude ">
                                            <p class="help-block ">Ex: 41.40338</p>
                                        </div>
                                    </td>
                                    <td width="20px "></td>
                                    <td>
                                        <div class="form-group ">
                                            <label>Latitude</label>
                                            <input class="form-control " ng-model="latitude ">
                                            <p class="help-block ">Ex: 2.17403</p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="100% ">
                                <tr>
                                    <td>
                                        <div class="form-group ">
                                            <label>From Price</label>
                                            <input class="form-control " ng-model="fromprice ">
                                            <p class="help-block ">Ex: 5</p>
                                        </div>
                                    </td>
                                    <td width="20px "></td>
                                    <td>
                                        <div class="form-group ">
                                            <label>To Price</label>
                                            <input class="form-control " ng-model="toprice ">
                                            <p class="help-block ">Ex: 20</p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="100% ">
                                <tr>
                                    <td>
                                        <div class="form-group ">
                                            <label>Opening Time</label>
                                            <input class="form-control " ng-model="openingtime ">
                                            <p class="help-block ">Ex: From 8:00 PM - 10:00 AM</p>
                                        </div>
                                    </td>
                                    <td width="20px "></td>
                                    <td>
                                        <div class="form-group ">
                                            <label>Opening Day</label>
                                            <input class="form-control " ng-model="openingday ">
                                            <p class="help-block ">Ex: Mon - Sat</p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="100% ">
                                <tr>
                                    <td>
                                        <div class="form-group ">
                                            <label>Check in</label>
                                            <input class="form-control " ng-model="checkin ">
                                            <p class="help-block ">Ex: From 8:00 PM - 10:00 AM</p>
                                        </div>
                                    </td>
                                    <td width="20px "></td>
                                    <td>
                                        <div class="form-group ">
                                            <label>Check out</label>
                                            <input class="form-control " ng-model="checkout ">
                                            <p class="help-block ">Ex: From 8:00 PM - 10:00 AM</p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="100% ">
                                <tr>
                                    <td>
                                        <div class="form-group ">
                                            <label>Rate</label>
                                            <input class="form-control " ng-model="rate ">
                                            <p class="help-block ">Ex: 8.5</p>
                                        </div>
                                    </td>
                                    <td width="20px " ng-show="isSleepCategory() "></td>
                                    <td ng-show="isSleepCategory() ">
                                        <div class="form-group ">
                                            <label>Star Level<span style="color: #E74645; ">(Hotel only)</span></label>
                                            <input class="form-control " ng-model="starlevel ">
                                            <p class="help-block ">Ex: 3</p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="form-group ">
                                <label>Time Spend</label>
                                <input class="form-control " ng-model="timespend ">
                                <p class="help-block ">Time spend for this place. Ex: 3h</p>
                            </div>
                            <div class="form-group ">
                                <label>Description En<span style="color: #E74645; ">*</span></label>
                                <textarea class="form-control " rows="3 " required ng-model="description_en"></textarea>
                                <p class="help-block ">Information this place</p>
                            </div>
                            <div class="form-group ">
                                <label>Description Fr<span style="color: #E74645; ">*</span></label>
                                <textarea class="form-control " rows="3 " required ng-model="description_fr"></textarea>
                                <p class="help-block ">Information this place</p>
                            </div>
                            <div class="form-group ">
                                <label>Description It<span style="color: #E74645; ">*</span></label>
                                <textarea class="form-control " rows="3 " required ng-model="description_it"></textarea>
                                <p class="help-block ">Information this place</p>
                            </div>
                            <div class="form-group ">
                                <label>Description Nl<span style="color: #E74645; ">*</span></label>
                                <textarea class="form-control " rows="3 " required ng-model="description_nl"></textarea>
                                <p class="help-block ">Information this place</p>
                            </div>
                            <div class="form-group ">
                                <label>Description Ru<span style="color: #E74645; ">*</span></label>
                                <textarea class="form-control " rows="3 " required ng-model="description_ru"></textarea>
                                <p class="help-block ">Information this place</p>
                            </div>
                            <div class="form-group ">
                                <label>Description Ar<span style="color: #E74645; ">*</span></label>
                                <textarea class="form-control " rows="3 " required ng-model="description_ar"></textarea>
                                <p class="help-block ">Information this place</p>
                            </div>
                            <div class="form-group ">
                                <label>Description Swiss Fr<span style="color: #E74645; ">*</span></label>
                                <textarea class="form-control " rows="3 " required ng-model="description_swiss_fr"></textarea>
                                <p class="help-block ">Information this place</p>
                            </div>
                            <div class="form-group ">
                                <label>Description Swiss It<span style="color: #E74645; ">*</span></label>
                                <textarea class="form-control " rows="3 " required ng-model="description_swiss_it"></textarea>
                                <p class="help-block ">Information this place</p>
                            </div>
                            <div class="form-group ">
                                <label>Description Swiss Nl<span style="color: #E74645; ">*</span></label>
                                <textarea class="form-control " rows="3 " required ng-model="description_swiss_nl"></textarea>
                                <p class="help-block ">Information this place</p>
                            </div>
                            <!-- <div class="form-group ">
                                <label>Tags</label>
                                <textarea class="form-control " rows="3 " ng-model="tags "></textarea>
                                <p class="help-block ">Ex:#Coffee #Food #Play</p>
                            </div> -->
                            <div class="form-group ">
                                <label>Things to note</label>
                                <textarea class="form-control " rows="3 " ng-model="thingstonote "></textarea>
                                <p class="help-block ">Ex: 1. Suitable for child 2. *** </p>
                            </div>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6 ">
                            <div class="form-group ">
                                <p>
                                    <label>Address</label>
                                    <span style="color: #E74645; ">*</span>
                                </p>
                                <input class="form-control " required ng-model="address ">
                                <p class="help-block ">Ex: 29 Hoang Dieu Street, Da Nang</p>
                            </div>
                            <div class="form-group ">
                                <label>Phone Number En</label>
                                <input class="form-control " ng-model="phonenumber_en">
                                <p class="help-block ">Ex: +84 4 3984 4478</p>
                            </div>
                            <div class="form-group ">
                                <label>Phone Number Fr</label>
                                <input class="form-control " ng-model="phonenumber_fr">
                                <p class="help-block ">Ex: +84 4 3984 4478</p>
                            </div>
                            <div class="form-group ">
                                <label>Phone Number It</label>
                                <input class="form-control " ng-model="phonenumber_it">
                                <p class="help-block ">Ex: +84 4 3984 4478</p>
                            </div>
                            <div class="form-group ">
                                <label>Phone Number Nl</label>
                                <input class="form-control " ng-model="phonenumber_nl">
                                <p class="help-block ">Ex: +84 4 3984 4478</p>
                            </div>
                            <div class="form-group ">
                                <label>Phone Number Ru</label>
                                <input class="form-control " ng-model="phonenumber_ru">
                                <p class="help-block ">Ex: +84 4 3984 4478</p>
                            </div>
                            <div class="form-group ">
                                <label>Phone Number Ar</label>
                                <input class="form-control " ng-model="phonenumber_ar">
                                <p class="help-block ">Ex: +84 4 3984 4478</p>
                            </div>
                            <div class="form-group ">
                                <label>Phone Number Swiss Fr</label>
                                <input class="form-control " ng-model="phonenumber_swiss_fr">
                                <p class="help-block ">Ex: +84 4 3984 4478</p>
                            </div>
                            <div class="form-group ">
                                <label>Phone Number Swiss It</label>
                                <input class="form-control " ng-model="phonenumber_swiss_it">
                                <p class="help-block ">Ex: +84 4 3984 4478</p>
                            </div>
                            <div class="form-group ">
                                <label>Phone Number Swiss Nl</label>
                                <input class="form-control " ng-model="phonenumber_swiss_nl">
                                <p class="help-block ">Ex: +84 4 3984 4478</p>
                            </div>
                            <div class="form-group ">
                                <label>Email</label>
                                <input class="form-control " ng-model="email ">
                                <p class="help-block ">Ex: hello@domain.com</p>
                            </div>
                            <div class="form-group ">
                                <label>Website</label>
                                <input class="form-control " ng-model="website ">
                                <p class="help-block ">Ex: www.abc.com</p>
                            </div>
                            <div class="form-group ">
                                <label>Facebook</label>
                                <input class="form-control " ng-model="facebook ">
                                <p class="help-block ">Ex: fb.com/name</p>
                            </div>
                            <div class="form-group ">
                                <label>Twitter</label>
                                <input class="form-control " ng-model="twitter ">
                                <p class="help-block ">Ex: twitter.com/name</p>
                            </div>
                            <div class="form-group ">
                                <label>Free Facility</label>
                                <select selectpicker multiple data-style="btn-primary " ng-model="facilitieskey " ng-change="onChangedFacilities() " required width="100% ">
                                    <option ng-repeat="facility in facilities " value="{{facility.key}} ">
                                        <!-- {{facility.val().name}} -->
                                        {{facility.val().name_en}}-
                                        {{facility.val().name_fr}}-
                                        {{facility.val().name_it}}-
                                        {{facility.val().name_nl}}-
                                        {{facility.val().name_ru}}-
                                        {{facility.val().name_ar}}-
                                        {{facility.val().name_swiss_fr}}-
                                        {{facility.val().name_swiss_it}}-
                                        {{facility.val().name_swiss_nl}}
                                    </option>
                                </select>
                                <p class="help-block ">Multi Select</p>
                            </div>
                            <div class="form-group ">
                                <label>Paid Facilities</label>
                                <textarea class="form-control " rows="3 " ng-model="paidFacilities "></textarea>
                                <p class="help-block ">Ex: @Wifi @ Bar@GYM @ Bike Rental</p>
                            </div>
                        </div>

                        <!-- FOR TOUR ONLY -->
                        <div class="form-group col-lg-12 " style="padding: 0px; " ng-show="isTourCategory() ">
                            <hr style="margin: 15px; " />
                            <label class="col-lg-12 "><span style="color: #E74645; ">Tour Only</span></label>
                            <div class="col-lg-6 ">
                                <div class="form-group ">
                                    <label>Tour Location </label>
                                    <input class="form-control " ng-model="tourLocation ">
                                    <p class="help-block ">Ex: Hà Nội, Quảng Ninh</p>
                                </div>
                                <div class="form-group ">
                                    <label>Tour Duration </label>
                                    <input class="form-control " ng-model="tourDuration ">
                                    <p class="help-block ">Ex: 6h</p>
                                </div>
                                <div class="form-group ">
                                    <label>Tour Group Size </label>
                                    <input class="form-control " ng-model="tourGroupSize ">
                                    <p class="help-block ">Ex: 2-10 person</p>
                                </div>
                            </div>
                            <div class="col-lg-6 ">
                                <div class="form-group ">
                                    <label>Tour Language </label>
                                    <input class="form-control " ng-model="tourLanguage ">
                                    <p class="help-block ">Ex: English, France, Vietnamese</p>
                                </div>
                                <div class="form-group ">
                                    <label>Tour Transpotation </label>
                                    <input class="form-control " ng-model="tourTranspotation ">
                                    <p class="help-block ">Ex: Bus, Bike, Car, Train</p>
                                </div>
                                <div class="form-group ">
                                    <label>Tour Booking Url </label>
                                    <input class="form-control " ng-model="tourBookingUrl ">
                                    <p class="help-block ">Ex: https://booktour.com/affilicate/</p>
                                </div>
                            </div>
                        </div>

                        <!-- FOR SLEEP BOOKING ONLY -->
                        <div class="form-group col-lg-12 " style="padding: 0px " ng-show="isSleepCategory() ">
                            <hr style="margin: 15px; " />
                            <p class="col-lg-12 ">
                                <span style="color: #E74645; ">Book Sleep Only</span>
                            </p>
                            <div class="col-lg-6 ">
                                <div class="form-group ">
                                    <label>Booking.com </label>
                                    <input class="form-control " ng-model="sleepBookingUrl ">
                                    <p class="help-block ">Ex: https://www.booking.com/hotel/vn/sofitelmetropole.html...</p>
                                </div>
                                <div class="form-group ">
                                    <label>AirBnB</label>
                                    <input class="form-control " ng-model="sleepAirbnbUrl ">
                                    <p class="help-block ">Ex: https://www.airbnb.com/vn/sofitelmetropole.html...</p>
                                </div>
                            </div>
                            <div class="col-lg-6 ">
                                <div class="form-group ">
                                    <label>HostelWorld </label>
                                    <input class="form-control " ng-model="sleepHostelWorldUrl ">
                                    <p class="help-block ">Ex: https://www.hostelworld.com/vn/sofitelmetropole.html...</p>
                                </div>
                            </div>
                        </div>

                        <!-- PHOTOS -->
                        <div class="form-group col-lg-12 ">
                            <hr />
                            <label>Images</label>
                            <!-- old photos -->
                            <div class="form-group col-lg-12 " style="border: 4px dashed #9E9E9E; margin-bottom: 10px; position: relative; padding: 0px; " ng-show="photos.length> 0">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 preview" ng-repeat="photo in photos" style="padding: 5px;">
                                    <div class="thumbnail" style="padding: 5px; margin-bottom: 0px;">
                                        <img ng-src="{{photo}}" style="margin-bottom: 5px;">
                                        <button type="btn" ng-click="removePhotoAt($index)">
                      <i class="fa fa-trash-o fa-fw"></i>
                    </button>
                                    </div>
                                </div>
                            </div>
                            <!-- new photos -->
                            <mdr-file url="" model="newphotos" size="0.5" formats="'jpg,png,svg,gif'" limit="6" multiple="true" control="photoPicker"></mdr-file>
                            <p class="help-block"> Note: max-size = 300kb</p>
                        </div>

                        <!-- SAVE BUTTON -->
                        <div class="col-lg-12" style="margin: 15px; padding: 0px;">
                            <hr />
                            <button type="button" class="btn btn-primary" ng-disabled="loading" ng-click="save()">Save</button>
                            <div ng-show="placekey === null" style="margin-top: 15px;">
                                <input type="checkbox" name="addmore" ng-model="addmore"> Submit and add more
                            </div>
                        </div>
                    </form>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>