<div id="wrapper" style="min-height: 660px; padding-bottom: 20px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Categories</h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-12">
            <!-- /.panel-heading -->
            <table width="100%" class="table table-striped table-bordered table-hover" datatable="ng" dt-column-defs="dtColumnDefs" dt-options="dtOptions">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Category En</th>
                        <th>Category Fr</th>
                        <th>Category IT</th>
                        <th>Category NL</th>
                        <th>Category RU</th>
                        <th>Category AR</th>
                        <th>Category Fr Swiss</th>
                        <th>Category IT Swiss</th>
                        <th>Category NL Swiss</th>
                        <th>Type</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-repeat="category in categories">
                        <td style="width: 40px;">{{$index + 1}}</td>
                        <td>{{category.val().name_en}}</td>
                        <td>{{category.val().name_fr}}</td>
                        <td>{{category.val().name_it}}</td>
                        <td>{{category.val().name_nl}}</td>
                        <td>{{category.val().name_ru}}</td>
                        <td>{{category.val().name_ar}}</td>
                        <td>{{category.val().name_swiss_fr}}</td>
                        <td>{{category.val().name_swiss_it}}</td>
                        <td>{{category.val().name_swiss_nl}}</td>
                        <td style="width: 50px;">{{category.val().type}}</td>
                        <td width="60px">
                            <label style="width: 15px; margin: 0px; height: 25px;">
                                <span style="color: #E74645;">{{category.val().priority ? category.val().priority : 0}}</span>
                            </label>
                            <input id="{{'inputPriority' + $index}}" ng-value="{{category.val().priority ? category.val().priority : 0}}" my-enter="changePriority($index)" style="margin: 0px; height: 25px; text-align: left; padding: 0px; width: 40px;">
                        </td>
                        <td style="width: 90px;">
                            <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal" ng-click="edit($index)" style="margin-right: 10px;">Edit</button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteAtIndex($index)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Category</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel" ng-show="key === null">Add Category</h4>
                            <h4 class="modal-title" id="myModalLabel" ng-show="key !== null">Edit Category ({{key}})</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Category Name En</label>
                                <input id="inputNameEn" class="form-control" ng-model="new_category_en" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Category Name Fr</label>
                                <input id="inputNameAr" class="form-control" ng-model="new_category_fr" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Category Name IT</label>
                                <input id="inputNameIt" class="form-control" ng-model="new_category_it" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Category Name NL</label>
                                <input id="inputNameNl" class="form-control" ng-model="new_category_nl" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Category Name RU</label>
                                <input id="inputNameRu" class="form-control" ng-model="new_category_ru" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Category Name AR</label>
                                <input id="inputNameAr" class="form-control" ng-model="new_category_ar" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Category Name Fr Swiss</label>
                                <input id="inputNameFrSwiss" class="form-control" ng-model="new_category_swiss_fr" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Category Name IT Swiss</label>
                                <input id="inputNameItSwiss" class="form-control" ng-model="new_category_swiss_it" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Category Name NL Swiss</label>
                                <input id="inputNameNlSwiss" class="form-control" ng-model="new_category_swiss_nl" takefocus>
                            </div>

                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Price Unit(Ex: Night, Person, Ticket) En</label>
                                <input id="inputNameEn" class="form-control" ng-model="new_price_unit_en" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Price Unit(Ex: Night, Person, Ticket) Fr</label>
                                <input id="inputNameAr" class="form-control" ng-model="new_price_unit_fr" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Price Unit(Ex: Night, Person, Ticket) IT</label>
                                <input id="inputNameIt" class="form-control" ng-model="new_price_unit_it" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Price Unit(Ex: Night, Person, Ticket) NL</label>
                                <input id="inputNameNl" class="form-control" ng-model="new_price_unit_nl" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Price Unit(Ex: Night, Person, Ticket) RU</label>
                                <input id="inputNameRu" class="form-control" ng-model="new_price_unit_ru" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Price Unit(Ex: Night, Person, Ticket) AR</label>
                                <input id="inputNameAr" class="form-control" ng-model="new_price_unit_ar" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Price Unit(Ex: Night, Person, Ticket) Fr Swiss</label>
                                <input id="inputNameFrSwiss" class="form-control" ng-model="new_price_unit_swiss_fr" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Price Unit(Ex: Night, Person, Ticket) IT Swiss</label>
                                <input id="inputNameItSwiss" class="form-control" ng-model="new_price_unit_swiss_it" takefocus>
                            </div>
                            <div class="form-group" style="width: 320px; min-width: 200px;">
                                <label>Price Unit(Ex: Night, Person, Ticket) NL Swiss</label>
                                <input id="inputNameNlSwiss" class="form-control" ng-model="new_price_unit_swiss_nl" takefocus>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="save()">Save Changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- /.table-responsive -->
            <!-- /.panel-body -->
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>